<p id="notice"><%= notice %></p>
  <div class="row">
  	<div class="col-md-4">
      <h1 class="text-center">To Do</h1>
      <%= render @todo_tasks %>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">Doing</h1>
      <%= render @doing_tasks %>
    </div>
    <div class="col-md-4">
      <h1 class="text-center">Done</h1>
      <%= render @done_tasks %>
  	</div>
  </div>
<br>
<%= link_to 'New Task', new_task_path %>
