<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- render the partial (which is, the _something.html.erb file). DO NOT need the underscore when using render, since rails will know it's a partial by default -->
<%= render "layouts/header" %> <!-- this is embedded ruby. Need the tags so rails know ruby rail code is going inside it -->
<div class="container">
	<%= yield %> <!-- Renders stuff from view -->
</div>
</body>
</html>
